<div class="photos-container">
	<div class="photos-coming-soon">



		<%= form_for @photo do |f| %>
		
		  
		  <div class: "form-group">
			<%= f.label :image %>
			<%= f.file_field :image %>
		  </div>
		

		<% end %>

		<div class="photos-test">
		  	This is a test
		</div>
		
	</div>
</div>



