@import "bootstrap";

/*------ Google font imports -----*/
@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Arvo|Ubuntu|Ubuntu+Condensed|Nunito|Open+Sans|Abril+Fatface);



/*------------layout-----------------*/

.alert {
	margin-top: 60px;
	margin-bottom: 0px;
}

body {
	background-color: black;
}

/*----header-----*/


.navbar {
	margin: 0px;
	border-bottom: 0px;
}

.navbar-inverse {
	background-color: black;
}
.navbar-inverse .navbar-header .navbar-brand {
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

.navbar-container-right .navbar-right > li > a {
	color: white;
	font-family: Arvo;
}

.navbar-container-right .navbar-right > li > a:hover {
	color: black;
	font-family: Arvo;
}

.container-fluid {
	padding-top: 10px;
	font-family: Arvo;
}


/*---- footer ------*/

.footer {
	background-color: black;
	padding-top: 26px;
	padding-bottom: 0px;
}

.bottom-container {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}

.email-block {
	margin-top: 25px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.footer-img {
	padding-left: 15px;
	padding-right: 15px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; 
    border-radius: 50%;
}

.bottom {
  color: white;
  padding-top: 20px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

.big-container {
	background-color: #8a3a3a;
}

.mid-text-container {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12px;
}

.footer-img{   
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; 
    border-radius: 50%; 
    padding-left: 7px;
	padding-right: 7px;
}


.footer-img:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}


.service-box {
    text-align:center;
    padding-bottom: 30px;
	font-family: 'Arvo', serif;
	font-size: 12px;
}

.service-box h2 {
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 17px;
	font-family: 'Arvo', serif;
	margin-top: 0px;
}

.service-box h1 {
	font-weight: bold;
	color: white;
	font-size: 22px;
}

.service-box p {
	font-size: 15px;
	color: white;
}


/*---------------Landing---------------------*/

/*----banner----*/

.item {
	height: 600px;
}



/*---- subscription box --------*/


.subscription-section {
	background-color: #46c7b0;
	padding-bottom: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}

.container-form-image {
	text-align: center !important;
	vertical-align: middle;
}

.subscription-img{   
	margin: 0 auto;
}

.form-subscribe {
	width: 45%;
	margin: 0 auto;
}

.newsletter-form-content {
	color: #ffffff;
	text-align: center !important;
}

.form-control {
	margin-bottom: 10px;
	font-size: 18px;
}

/*--- testing --- */

.random-container {
	background: #ebeeed;
	padding-top: 40px;
	padding-bottom: 90px;
}


.middle-container {
	text-align: center;
	margin-bottom: 55px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #424b51;
	font-size: 25px;
}

.middle-wrap {
	padding-top: 90px;
	height: 400px;
}


.media {
	background: #fff;
	border-bottom: solid 1px #c7c9c8;
	margin-bottom: 30px;
}

.media a {
	overflow: hidden;
	color: #43484D;
}

.media-img {
	overflow: hidden;
	position: relative;
	padding: 0;
}

.media-img .img-overlay {
	background: #363635;
	background: rgba(0,0,0, 0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 50%;
	text-align: center;
	z-index: 4;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50â€“12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	opacity: 0;
	visibility: hidden;
}

.lt-ie9 .media-img .img-overlay {
	filter: alpha(opacity=70);
}

.media .img-overlay a {
	display: none;
	position: relative;
	margin-top: -60px;
}

.media:hover .img-overlay a,
.media .img-overlay:hover a {
	display: inline-block;
}

.media .img-overlay h3 {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 25px;
	font-size: 18px;
	margin-top: -40px;
}

.media:hover .img-overlay,
.media .media-img:hover .img-overlay {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50â€“12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.media p {
	font-size: 14px;
	line-height: 19px;
	margin: 0px;
}

.media a:hover {
	text-decoration: none;
}

.media-body {
	padding: 20px 25px 0px 35px;
}

.media div.pull-left {
	overflow: hidden;
	margin-right: -15px;
	margin-left: 14px;
}

.media div.media-img img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 2000ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 2000ms;
	transform: scale(1, 1);
	transition-timing-function: ease-out;
	transition-duration: 2000ms;
	width: 100%;
	height: auto;
}

.media:hover div.media-img img {

}



.btn {
	background: transparent;
	-webkit-transition: all 0.2s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.1s ease-out;  /* Opera 10.50â€“12.00 */
	transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	border: 1px solid white;
	color: white;
	padding: 7px 13px;
}

.btn:hover {
	color: #fff;
	padding: 8px 14px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #424b51;
	background: #fff;
	border-color: #fff;
	padding: 8px 14px;
}


.media a {
	color: #43484D;
}


 @media (min-width: 1200px) {



.media .img-overlay h3 {
	margin-bottom: 35px;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
}


.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}



/*** temporary ***/

.banner{
    background-image: image-url('pic2.JPG');
    height: 525px;
	margin-top: 0px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-menu{
    height: 525px;
	margin-top: 0px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-content {
	text-align: center;
	font-family: Arvo; 
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
	font-weight: bold;
}

.logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.opening-text {
	padding-top: 45px;
	font-size: 35px;
	text-shadow: 1px 1px 1px #666666;
	font-family: Arvo;
	padding-left: 10px;
	padding-right: 10px;
}

.opening-text-name {
	font-size: 46px;
  	font-family: Arvo;
  	padding-left: 10px;
	padding-right: 10px;
}

.sub-opening-text {
	font-size: 25px;
	text-shadow: 1px 1px 1px #666666;
	padding-left: 10px;
	padding-right: 10px;
}


/*** gallery ***/


.contest-index-container {
	margin-top: 100px;
}

#masonry-container {
    margin: 0 auto;
}

.col3 {
    width: 300px;
}

.contest-paginate {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.col3 img { 
	max-width: 100% 
}


/*** contact form ***/

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/*** contact us form ****/

.contact-us-form {
	margin-top: 250px;
	width: 300px;
	text-align:center; 
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 30px;
}

#body-text {
	height: 200px;
}

.labels-contact {
	color: white;
}


/*** gallery ***/

.gallery-container {
	height: 500px;
	color: white;
}

.gallery-coming-soon {
	margin-top: 250px;
	width: 300px;
	text-align:center; 
	margin: 0 auto;
	color: white;
	padding-top: 300px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

/*** carousel ***/

.carousel-inner > .item {
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}