<footer class="footer">
  <div class="big-container3">

    <div class="container-fluid">

        <div class="row">

            <div class="service-box col-sm-12 col-lg-3">
                <h2>
                    We're open 7 days a week at 4 PM
                </h2>
                <h2>
                    <a href= "https://www.google.com/maps/search/1327+Polk+St+San+Francisco,+CA+94109/@37.7890649,-122.4207008,17z">1327 Polk St San Francisco, CA 94109</a>
                </h2>
            </div>

            <div class="service-box col-sm-12 col-lg-3">
                <h2>
                    Telephone: (415) 440-7662 
                </h2>
                <h2>
                    Email:
                    <a href="mailto:info@sfpourhouse.com">info@sfpourhouse.com</a> 
                </h2>
            </div>

            <div class="service-box col-sm-12 col-lg-3">
                <div class="random">

                  <div class="row footer-row">
                      <div class="footer-box col-sm-12">
                          <div class="social-links">
                              <div class="square animated bounceIn">
                                <%= link_to image_tag('facebook-48.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://www.facebook.com/PourHouseSF' %>
                                <%= link_to image_tag('twitter-48.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://twitter.com/SFPour' %>
                                <%= link_to image_tag('instagram-48.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://instagram.com/thepourhousesf' %>
                                <%= link_to image_tag('vimeo-48.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://vimeo.com/22150209' %>
                              </div>
                          </div>
                      </div>
                
                  </div>

                </div>
            </div>

            <div class="service-box col-sm-12  col-lg-3">
                <div class="random">

                  <div class="row footer-row">
                     <div class="form-subscribe">
                       
                        <form action="http://krowdprize.us8.list-manage2.com/subscribe/post" method="POST" role="form">

                            <div class="form-inputs subscription-box">

                                <input type="hidden" name="u" value="c50dae01481d495cdc2281893">
                                <input type="hidden" name="id" value="2fab3edcdf">
                                
                                <div class: "form-space">
                                    <div class: "form-group">
                                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control" size="25" value="" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                              <input type="submit" class="btn btn-default" name="submit" value="Sign up to our newsletter!">
                            </div>

                       

                    </div>
                
                  </div>

                </div>
            </div>


        </div>

    </div>

    </div>

</footer>